<%layout("/views/layouts/boilerplate")-%>
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="row">
        <div class="alert alert-danger col-9 mt-3" role="alert">
            <p class="alert-heading"><%=err.message%></p>
        </div>
    </div>

</body>
