<%-layout("/views/layouts/boilerplate")%>
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Create a new listing</h3>
            <form method="POST" action="/listings" novalidate class="needs-validation">
                <div class="mb-3">
                    <lable for="title" class="form-label">Title</lable>
                    <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required/>
                    <div class="valid-feedback">
                        Title looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <lable for="description" class="form-label">Description</lable>
                    <textarea name="listing[description]" placeholder="enter description" type="text" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>
                <div class="mb-3">
                    <lable for="image" class="form-label" >Image link</lable>
                    <textarea name="listing[image]"type="text" class="form-control" rows="1">{"filename":"listingimage", 
                        "url":"https://plus.unsplash.com/premium_photo-1752046183438-8612fad2fa15?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxOXx8fGVufDB8fHx8fA%3D%3D"}</textarea>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4" >
                        <lable for="price" class="form-label">Price</lable>
                        <input name="listing[price]" placeholder="1200" type="number" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <lable for="country" class="form-label">Country</lable>
                        <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
                        <div class="invalid-feedback">Country name should be valid</div>
                    </div>

                </div>
                
                <div class="mb-3">
                    <lable for="location" class="form-label">Location</lable>
                    <input name="listing[location]" placeholder="Jaipur, Rajasthan" type="text" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>

                <br><br>
                <button class="btn btn-dark add-btn">Add</button>
                <br><br>
            </form>
        </div>
    </div>
</body>
